---
---

<section class="hero">
	<h2 class="hero__title">We make your music sound extraordinary.</h2>
	<p class="hero__text">A system audio equalizer specifically designed for Android and iOS. Freely tune the way your music sounds with a professional grade parametric EQ & volume mixer. Control bass, mids, treble, gain control, reverb, and more!</p>
</section>

<style>
	.hero {
		position: relative;
		z-index: 10;
		padding: 2.4rem 2.4rem 16.6rem 2.4rem;

		@media (width >= 768px) {
			padding: 3.3rem 3.9rem 24.9rem 3.9rem;
		}

		@media (width >= 1440px) {
			padding: 6.5rem 16.5rem 32.1rem 16.5rem;
		}
	}

	.hero__title {
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 4rem;
		line-height: 120%;
		letter-spacing: -0.01em;
		color: var(--coarse-wool);
		margin-bottom: 2rem;
		text-align: left;
		margin-right: auto;

		@media (width >= 768px) {
			font-size: 6.4rem;
			line-height: 100%;
			// max-width: 52rem;
			padding-right: 17rem;
			margin-bottom: 2.8rem;
		}

		@media (width >= 1440px) {
			font-size: 8.8rem;
			line-height: 100%;
			max-width: 101.5rem;
			padding-right: unset;
			margin-bottom: 4rem;
		}

		@media (width >= 1921px) {
			max-width: unset;
			width: clamp(101.5rem, 100%, 200rem);
		}
	}

	.hero__text {
		font-family: var(--font-family), sans-serif;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 162%;
		color: var(--coarse-wool);
		text-align: left;
		margin-right: auto;

		@media (width >= 768px) {
			font-size: 1.8rem;
			line-height: 156%;
			// max-width: 51rem;
			padding-right: 16rem;
		}

		@media (width >= 1440px) {
			font-size: 2rem;
			line-height: 170%;
			max-width: 82.5rem;
			padding-right: unset;
		}

		@media (width >= 1921px) {
			max-width: unset;
			width: clamp(82.5rem, 100%, 160rem);
		}
	}
</style>