---
import { Image } from "astro:assets";

import coralRectangleSmallFigure from "@public/images/svg/figures/coral-rectangle-small.svg";
import coralRectangleBigFigure from "@public/images/svg/figures/coral-rectangle-big.svg";
import snowCircleFigure from "@public/images/svg/figures/snow-circle.svg";
import yellowCircleFigure from "@public/images/svg/figures/yellow-circle.svg";
import snowCirclesFigure from "@public/images/svg/figures/snow-circles.svg";
import mobileImageSm from "@public/images/mobile-sm.png";
import mobileImageMd from "@public/images/mobile-md.png";
import mobileImageLg from "@public/images/mobile-lg.png";
import appleIcon from "@public/icons/apple.svg";
import androidIcon from "@public/icons/android.svg";
---

<section class="offer">
	<div class="offer__secondary-content">
		<picture>
			<source type="image/png" srcset={ mobileImageLg.src } media="(min-width: 1440px)">
			<source type="image/png" srcset={ mobileImageMd.src } media="(min-width: 768px)">
			<source type="image/png" srcset={ mobileImageSm.src } media="(min-width: 375px)">
			<img class="offer__smartphone-image" src={ mobileImageSm.src } alt="Image of smartphone">
		</picture>
		<Image class="offer__coral-rectangle-small" src={ coralRectangleSmallFigure } alt="CoralRectangle Figure"/>
		<Image class="offer__coral-rectangle-big" src={ coralRectangleBigFigure } alt="CoralRectangle Figure"/>
		<Image class="offer__yellow-circle" src={ yellowCircleFigure } alt="CoralRectangle Figure"/>
		<Image class="offer__snow-circles" src={ snowCirclesFigure } alt="CoralRectangle Figure"/>
		<Image class="offer__snow-circle" src={ snowCircleFigure } alt="CoralRectangle Figure"/>
	</div>
	<div class="offer__main-content">
		<h2 class="offer__title">Premium EQ</h2>
		<p class="offer__text">Get expert-level control with a robust equalizer, volume mixer, and spatial audio. Take your listening experience to a whole new level and access all our incredible features!</p>
		<p class="offer__price-container">
			<strong class="offer__price">$4</strong>
			<small class="offer__month">/ month</small>
		</p>
		<button class="offer__button-dark" type="button">
			<Image src={ appleIcon } alt="Apple company logotype"/>
			<span>iOS Download</span>
		</button>
		<button class="offer__button-light" type="button">
			<Image src={ androidIcon } alt="Android company logotype"/>
			<span>Android Download</span>
		</button>
	</div>
</section>

<style>
	.offer {

	}

	.offer__secondary-content {
		position: relative;
		border-radius: 1.2rem;
		height: 60rem;
		background: var(--coarse-wool);
		display: flex;
		justify-content: center;
		z-index: 1;
	}

	.offer__smartphone-image {
		position: relative;
		z-index: 2;
		margin-top: -9.8rem;
	}

	.offer__coral-rectangle-small {
		width: 7rem;
		height: 14rem;
		position: absolute;
		top: 0;
		left: 4.8rem;
		z-index: 1;

		@media (width >= 768px) {
			display: none;
		}
	}

	.offer__coral-rectangle-big {
		width: 14rem;
		height: 21rem;
		position: absolute;
		top: 7rem;
		left: 18.8rem;
		z-index: 1;

		@media (width >= 1440px) {
			width: 15.6rem;
			height: 23.4rem;
		}
	}

	.offer__yellow-circle {
		width: 14rem;
		height: 14rem;
		position: absolute;
		top: 14rem;
		left: 4.8rem;
		z-index: 1;

		@media (width >= 1440px) {
			width: 15.6rem;
			height: 15.6rem;
		}
	}

	.offer__snow-circles {
		width: 14rem;
		height: 14rem;
		position: absolute;
		top: 28rem;
		left: 4.8rem;
		z-index: 1;

		@media (width >= 1440px) {
			width: 15.6rem;
			height: 15.6rem;
		}
	}

	.offer__snow-circle {
		width: 7rem;
		height: 7rem;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		z-index: 1;

		@media (width >= 768px) {
			display: block;
		}

		@media (width >= 1440px) {
			width: 7.8rem;
			height: 7.8rem;
		}
	}

	.offer__main-content {
		position: relative;
		border-radius: 1.2rem;
		background: var(--fresh-salmon);
		z-index: 2;
		margin-top: -22rem;
		padding: 4.8rem 3.6rem;
	}

	.offer__title {
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 3.2rem;
		line-height: 125%;
		color: var(--cool-december);
		margin-bottom: 1rem;
	}

	.offer__text {
		font-family: var(--font-family), sans-serif;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 156%;
		color: var(--cool-december);
		margin-bottom: 3.6rem;
	}

	.offer__price-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 3.2rem;
		column-gap: 1.6rem;
		margin-left: 1.8rem;
	}

	.offer__price {
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 6.5rem;
		line-height: 80%;
		color: var(--cool-december);
	}

	.offer__month {
		font-family: var(--font-family), sans-serif;
		font-weight: 400;
		font-size: 2rem;
		line-height: 160%;
		letter-spacing: -0.01em;
		color: var(--cool-december);
	}

	.offer__button-dark {
		border-radius: 1.2rem;
		background: var(--coarse-wool);
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 178%;
		letter-spacing: -0.01em;
		text-align: center;
		color: var(--cool-december);
		border: none;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		column-gap: 0.78rem;
		padding: 1.5rem 0 1.4rem 0;
		width: 100%;
		margin: 0 1.3rem 1.6rem 1.8rem;
	}

	.offer__button-light {
		border-radius: 1.2rem;
		background: var(--cool-december);
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 178%;
		letter-spacing: -0.01em;
		text-align: center;
		color: var(--coarse-wool);
		border: none;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 0.78rem;
		padding: 1.5rem 0 1.4rem 0;
		width: 100%;
		justify-content: center;
		margin: 0 1.3rem 0 1.8rem;
	}
</style>