---
import { Image } from "astro:assets";

import figuresGroupDecoration from "@public/images/svg/decorations/figures-group.svg";

import { BaseHead } from "@widgets/base-head";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<BaseHead title={title} description={description} />
	<body class="body">
		<Image class="figuresGroupDecoration" src={ figuresGroupDecoration } alt="" />
		<div class="oceanGreenCircleDecoration"></div>
		<div class="orangeCircleDecoration"></div>
		<div class="darkOrangeCircleDecoration"></div>
		<slot />
	</body>
</html>

<style>
	.body {
		position: relative;
		background: var(--cool-december);
		overflow-x: hidden;
	}

	.oceanGreenCircleDecoration {
		position: absolute;
		display: block;
		top: -10.5rem;
		right: -6.6rem;
		z-index: 1;
		width: 28.14rem;
		height: 28.14rem;
		border-radius: 100%;
		background: var(--bright-cyan);
		filter: blur(6.8rem);
		opacity: 0.282458;

		@media (width >= 768px) {
			top: 4.1rem;
			right: 3.9rem;
			width: 38.4rem;
			height: 38.4rem;
		}

		@media (width >= 1440px) {
			top: 10rem;
			right: 15.5rem;
		}
	}

	.orangeCircleDecoration {
		position: absolute;
		display: block;
		top: 9.46rem;
		right: -6.6rem;
		z-index: 1;
		width: 28.14rem;
		height: 28.14rem;
		border-radius: 100%;
		background: var(--tangerine);
		filter: blur(6.8rem);
		opacity: 0.153178;

		@media (width >= 768px) {
			top: 31.2rem;
			right: 3.9rem;
			width: 38.4rem;
			height: 38.4rem;
		}

		@media (width >= 1440px) {
			top: 37.15rem;
			right: 15.5rem;
		}
	}

	.darkOrangeCircleDecoration {
		display: none;
		position: absolute;
		border-radius: 100%;
		background: var(--precious-persimmon);
		filter: blur(6.8rem);
		z-index: 1;
		opacity: 0.15;

		@media (width >= 768px) {
			display: block;
			top: -11.3rem;
			left: -25.5rem;
			width: 38.4rem;
			height: 38.4rem;
		}

		@media (width >= 1440px) {
			top: -11.3rem;
			left: -14.6rem;
		}
	}

	.figuresGroupDecoration {
		display: none;
		z-index: 10;
		position: absolute;

		@media (width >= 768px) {
			display: block;
			width: 26.667rem;
			height: 40rem;
			top: -3.2rem;
			right: -3.6rem;
		}

		@media (width >= 1440px) {
			width: 31.2rem;
			height: 46.8rem;
			top: -4rem;
			right: 0;
		}
	}
</style>