---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";

type LinkProps = HTMLAttributes<"link"> & VariantProps<typeof link>;

const link = cva("link", {
	variants: {
		linkStyle: {
			light: "link--style--light",
			dark: "link--style--dark"
		}
	}
});

const { linkStyle = "light", href = "", style = "" }: LinkProps = Astro.props;
---

<script>
	import gsap from "gsap";

	const linkElements = document.querySelectorAll("[data-link]");

	linkElements.forEach(linkElement => {
		linkElement!.addEventListener("mouseup", (event:Event) => handleLinkMouseUp(event));
		linkElement!.addEventListener("mousedown", (event:Event) => handleLinkMouseDown(event));
		linkElement!.addEventListener("mouseenter", (event:Event) => handleLinkMouseEnter(event));
		linkElement!.addEventListener("mouseleave", (event:Event) => handleLinkMouseLeave(event));
		linkElement!.addEventListener("touchstart", (event:Event) => handleLinkTouchStart(event));
		linkElement!.addEventListener("touchend", (event:Event) => handleLinkTouchEnd(event));
	});

	const handleLinkMouseUp = (event: Event) => {
		gsap.to(event.target, {
			scale: 1.05,
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkMouseDown = (event: Event) => {
		gsap.to(event.target, {
			scale: 0.95,
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkMouseEnter  = (event: Event) => {
		const linkStyle = (event.target as any).getAttribute("linkstyle");

		gsap.to(event.target, {
			scale: 1.05,
			background: linkStyle === "light" ? "#ffb964" : linkStyle === "dark" ? "#66e2dc" : "",
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkMouseLeave  = (event: Event) => {
		const linkStyle = (event.target as any).getAttribute("linkstyle");

		gsap.to(event.target, {
			scale: 1,
			background: linkStyle === "light" ? "#fcfaf9" : linkStyle === "dark" ? "#191826" : "",
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkTouchStart = (event: Event) => {
		const linkStyle = (event.target as any).getAttribute("linkstyle");

		gsap.to(event.target, {
			scale: 0.95,
			background: linkStyle === "light" ? "#ffb964" : linkStyle === "dark" ? "#66e2dc" : "",
			duration: 0.25,
			ease: "power1"
		});
	};

	const handleLinkTouchEnd = (event: Event) => {
		const linkStyle = (event.target as any).getAttribute("linkstyle");

		gsap.to(event.target, {
			scale: 1.05,
			background: linkStyle === "light" ? "#fcfaf9" : linkStyle === "dark" ? "#191826" : "",
			duration: 0.25,
			ease: "power1"
		});
	};
</script>

<a data-link { linkStyle } href={ href } style={ style } class={ link({ linkStyle }) }>
	<slot />
</a>

<style>
	.link {
		text-decoration: none;
		border-radius: 1.2rem;
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 178%;
		letter-spacing: -0.01em;
		text-align: center;
		border: none;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		column-gap: 0.792rem;
		padding: 1.5rem 0 1.4rem 0;
		width: 100%;
	}

	.link--style--dark {
		background: var(--coarse-wool);
		color: var(--cool-december);
		margin: 0 1.3rem 0 1.8rem;

		@media (width >= 768px) {
			margin: 0 0.1rem 0 0.6rem;
		}

		@media (width >= 1440px) {
			margin: unset;
		}
	}

	.link--style--light {
		background: var(--cool-december);
		color: var(--coarse-wool);
		margin: 0 1.3rem 0 1.8rem;

		@media (width >= 768px) {
			margin: 0 0.1rem 0 0.6rem;
		}

		@media (width >= 1440px) {
			margin: unset;
		}
	}
</style>